---
title: useSupported
description: 
---

description: TBA

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |

## Options

```typescript

```