---
title: usePreferredDark
description: Reactive dark theme preference.
---

Reactive dark theme preference.

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |

## Options

```typescript

```