---
title: useMounted
description: Mounted state in ref.
---

Mounted state in ref.

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |

## Options

```typescript

```