---
title: useLocalStorage
description: Reactive LocalStorage.
---

## Usage

```ts
import { useLocalStorage } from 'svelte-borya'

// bind boolean
const flag = useLocalStorage('my-flag', true)
console.log(flag.value) // true 
```

## Type
```ts
export function useLocalStorage<T>(
  key: string,
  initialValue: MaybeGetter<T>,
  options: UseStorageOptions<T> = {}
): { value: T }
```

Please refer to [useStorage](/functions/useStorage).