---
title: useLocalStorage
description: Reactive LocalStorage.
---

Reactive [LocalStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage).

## Usage
```svelte
<script>
  import { useLocalStorage } from 'svelte-use';
</script>
```

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |

## Options

```typescript

```