# useLocalStorage

## Usage
```svelte
<script>
  import { useLocalStorage } from 'svelte-use';
</script>
```

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |

## Options

```typescript

```