---
title: useDark
description: Reactive dark mode with auto data persistence.
---

Reactive dark mode with auto data persistence.

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |


## Options

```typescript

```