---
title: useFavicon
description: Reactive favicon.
---

Reactive favicon.

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |


## Options

```typescript

```