---
title: useBrowserLocation
description: Reactive browser location.
---

Reactive browser location.

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |
| options | `ConfigurableWindow` | `{}` |
