---
title: useEyeDropper
description: Reactive EyeDropper API.
---

Reactive [EyeDropper API](https://developer.mozilla.org/en-US/docs/Web/API/EyeDropper_API).

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |


## Options

```typescript

```