---
title: usePermission
description: Reactive Permissions API.
---

Reactive [Permissions API](https://developer.mozilla.org/en-US/docs/Web/API/Permissions_API).

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |

## Options

```typescript

```