# useCssVar

Manipulate CSS variables

## Usage

TBA

## Parameters

| Name       | Type       |  Default |
| :--------- | :--------- | :---------- |


## Options

```typescript
export interface UseCssVarOptions extends ConfigurableWindow {
  initialValue?: string
   /**
   * The observe option is not implemented.
   */
  // observe?: boolean
}
```